
.goal-wrapper {
  padding-top: 100px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;

  display: flex;
  justify-content: center;

  background-image: url("../assets/abc.svg"); /* or /abc.svg */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
  min-height: 130vh;
}


.center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-title {
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  line-height: 1.05;
  margin-top: 40px;
  margin-bottom: 60px;
  color: #2a2a2a;
  font-family: Georgia, serif;
}
